@{
    ViewData["Title"] = "Prueba Reynaldo Sabogal";    
}

<div class="text-center">
    <h1 class="display-4"> listado de Pacientes</h1>
    <br>
    <table class="table">
        <tr>
            <td>Tipo de Documento</td>
            <td>Numero de Documento</td>
            <td>Nombres</td>
            <td>apellidos</td>
            <td>Correo electronico</td>
            <td>Teléfono</td>
            <td>Fecha de nacimiento</td>
            <td>Estado de afiliación</td>
            <td>Acciones</td>
        </tr>       
        </table>
    
</div>
